* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.form {
  border: 2px solid red;
  text-align: center;
  background-color: antiquewhite;
}

.container {
  display: flex;
  flex-wrap: wrap;
  .form-container {
    width: 24%;
    border: 2px solid green;
    background-color: rgb(67, 138, 59);
    margin: 10px auto;
  }
  .form-element{
    margin:4px;
    
  }
}


input[type="checkbox"]:checked + label {
  visibility: hidden;
  position: relative;
  &::after {
    width:84px;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Table View";
  }
}

.checkbox:checked~.container{
    display:table;
    width:100%;
    border-spacing:25px;
    .form-container{
        display:table-row;
    }
    .form-element{
        display: table-cell;
        .labeling{
            display:block;
        }
        
    }
}