$border: 1px solid black;
$red:red;
$green:green;
$aqua:aqua;
$black:black;
$yellow:yellow;
$white:white;
$purple:rgb(162, 87, 162);
$grey:grey;
$blue:blue;
$orange:rgb(158, 98, 29);
$light-green:rgb(79, 243, 79);
$off-white: rgb(244, 250, 250);